tailscale_auth_key = ""
pm_api_token_secret = ""
pm_api_token_id = ""
pve_user = ""
pve_password = ""
vm_hostname = ""
vm_domain = ""
pve_host = ""
ssh_public_key = ""
ssh_private_key = ""
ssh_keys = ""
ci_user = ""